<h1 class="text-center">Users List</h1>
<div class="container">
  <div class="row">
    <table class="table table-success table-striped">
      <thead>
        <th>Stt</th>
        <th>Avatar</th>
        <th><%=sort_link(@q, :name, "Name", default_order: :asc)%></th>
        <th>Email</th>
        <th>Admin</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= index + @paginate + 1 %></td>
            <td>
              <% if user.avatar.attached? %>
                <%= link_to image_tag(user.avatar, style:"width:40px"), user %>
              <% end %>
            </td>
            <td><%= link_to user.name, user %></td>
            <td><%= user.email %></td>
            <td><%= user.admin%></td>
            <td>
              <%= link_to "Destroy", user, method: :delete, class:"btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%# <%= will_paginate @users %>
<%= paginate @users %>
