<h1 class="d-flex justify-content-center">THÔNG TIN THANH TOÁN</h1>
<div class="container">
    <%= form_for @order do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :name, class:"form-label" %>
            <%= f.text_field :name, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :address, class:"form-label" %>
            <%= f.text_field :address, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :phone, class:"form-label" %>
            <%= f.text_field :phone, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :note, class:"form-label" %>
            <%= f.text_area :note, class:"form-control" %>
          </div>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.fields_for :order_items do |ff| %>
            <%=  %>
          <% end %>
        </div>
        <div class="col-md-6">
          <h2>Danh sach san pham </h2>
          <% @cart.cart_items.each do |a| %>
            <%= a.product.name %> x <%= a.quantity %> = <%= a.product.price * a.quantity %><br>
          <% end %>
          <h2>Tong tien thanh toan</h2>
          <%= @cart.cart_items.sum(:total) %>
        </div>
        <div class="action mt-3">
          <%= f.submit "ORDER NOW", class:"btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
