<div class="container">
  <h1 style="text-align:center"> Giỏ hàng </h1>
  <table class="table">
    <thead>
      <th>Image</th>
      <th>Name</th> 
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th> 
      <th>Action</th>
    </thead>
    <tbody>
      <%= form_for @cart do |f| %>
        <%= f.hidden_field :id %>
        <%= f.fields_for :cart_items do |ff| %>
          <tr>
            <td><%= image_tag(ff.object.product.image, style:"width:30px") %></td>
            <td><%= ff.object.product.name %></td>
            <td><%= ff.object.product.price %></td>
            <td>
              <%= ff.number_field :quantity, min: 1, id:"btn-quantity"  %>
            </td>
            <td><%= ff.object.total %></td>
            <td><%= link_to "Delete", ff.object, method: :delete, class:"btn btn-danger" %></td>
          </tr>
        <% end %>
        <%= f.submit "Update" %>
      <% end %>
    </tbody>
  </table>
  <div>
    <h2 class="text-right">Total price: <%= @cart.total_price %></h2>
  </div>
</div>
