<div class="flex-row d-flex justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <%= form_for @product do |f| %>
        <div class="form-group">
          <%= f.label :image, class: "form-label" %>
          <%= f.file_field :image, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.select :category_id, Category.all.map {|c| [c.name, c.id]} %>
        </div>
        <div class="form-group">
          <%= f.label :price %>
          <%= f.number_field :price,class:"form-control" %>
        </div>
        <div class="actions">
          <%= f.submit class:"btn btn-primary" %>
          <%= link_to "Cancel", products_path, class:"btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>