<div class="container">
  <h1 class="text-center">All Products</h1>
  <div class="row">
    <div class="col-md-9"><%= render "products/search_form" %></div>
    <div class="col-md-3 mr-0">
      <%= link_to "Create Product", new_product_path, class:"btn btn-primary" %>
      <%= link_to "Import", "#", class:"btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mt-4 justify-content-right">
      <ul class="list-group">
        <% @categories.each do |category| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to category.name, products_path(:cate => category.id) %>
            <span class="badge bg-primary rounded-pill">
              <%= category.products.count %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-10 mt-3">
      <div class="row">
        <% @products.each do |product| %> 
          <div class="col-md-3 col-sm-6 col-xs-12 mt-3">
            <div class="card edit_card">
              <div class="card-body text-center">
                <%= link_to image_tag(product.image, style:"width:200px"), product %>
                <p><%= product.name %></p>
                <p><%= product.description.truncate_words(5) %></p>
                <p><%= product.price %></p>
                <div class="actions">
                  <%= link_to "View", product_path(product.id), class:"btn btn-primary" %>
                  <% if current_user.admin %>
                    <%= link_to "Edit", edit_product_path(product), class:"btn btn-secondary" %>
                    <%= link_to "Delete", product_path(product.id), method: :delete, class:"btn btn-danger", data: {confirm:"You sure?"} %>
                  <% end %>
                  <%= form_for @cart_item  do |f| %>
                    <%= f.hidden_field :product_id, value: product.id %>
                    <%= f.hidden_field :cart_id, value: @cart.id %>
                    <%= f.hidden_field :quantity, value: 1 %>
                    <%= f.hidden_field :total, value: product.price * 1 %>
                    <%= f.submit "Add cart", class:"btn btn-success mt-2" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>      
      </div>
      <div class="mt-4 d-flex justify-content-center">
        <%= paginate @products %> 
      </div>
    </div>
  </div> 
</div>
