<h1>Products#show</h1>
<h3> Name: <%= @product.name %></h3>
<h3> Description: <%= @product.description %></h3>
<h3> Price: <%= @product.price %></h3>
<h2>Category: <%= @product.category.name %></h2>
<%= link_to "Back", products_path, class:"btn btn-secondary" %>
<% if current_user.admin%>
  <%= link_to "Edit", edit_product_path(@product), class:"btn btn-primary" %>
  <%= link_to "Delete", @product, method: :delete, class:"btn btn-danger"%>
  
<% end %>
